.App {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: auto 4fr 2fr;
  grid-template-areas:
    "navbar navbar navbar navbar"
    "sidebar main main footer"
    "sidebar main main footer"
    "sidebar main main footer"
    ;
  width: 100%;
  height: 100%;
  position: absolute;
}

.Navbar {
  grid-area: navbar;
  background-color: blue;
}

.Sidebar {
  grid-area: sidebar;
  background-color: red;
}

.Main-Content {
  grid-area: main;
  background-color: grey;
}

.Footer {
  grid-area: footer;
  background-color: purple;
}

@media screen and (max-width: 85em) {
  .App {
    grid-template-columns: 1fr 3fr;
    grid-template-rows: auto 1fr 3fr;
    grid-template-areas:
    "navbar navbar navbar"
    "sidebar main main"
    "sidebar main main"
    "footer footer footer"
    ;
  }
}

@media screen and (max-width: 60em) {

  .App {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 1fr 1fr;
    grid-template-areas:
      "navbar navbar"
      "main main"
      "main main"
      "footer footer"
      ;
  }

  .Sidebar {
    display: none;
  }

}
